<div id="tag">
		<ul class="nav nav-tabs justify-content-center">
			<li class="nav-item"><a class="nav-link active" routerLink="/tag/kyast-management">キャスト設定</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/tag/stuff-management">ボーイ設定</a></li>
			<li class="nav-item"><a class="nav-link active" routerLink="/tag/tag-summary">タグ</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/tag/items">商品設定</a></li>
			<li class="nav-item"><a class="nav-link active"routerLink="/tag/deposit-summary">入出金項目</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/tag/salary-summary">給与項目</a></li>
			<li class="nav-item"><a class="nav-link active" routerLink="/tag/store-setting">店舗設定</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/tag/time-card">タイムカード</a></li>
			<li class="nav-item"><a class="nav-link active" routerLink="/tag/money-flow">出金履歴</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/tag/memo-summary">メモ一覧</a></li>
			<li class="nav-item"><a class="nav-link active" routerLink="/tag/print-history">印刷履歴</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/tag/delete-history">削除履歴</a></li>
			<!-- <li class="nav-item"><a class="nav-link" routerLink="/">ログアウト</a></li> -->
		</ul>
	</div>
