<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">
            
        <div id="header"><h1 class="mt-5 ml-5">入出金項目一覧</h1></div>
        
        <select class="mt-5 ml-5">
            <option>10</option>
            <option>50</option>
            <option selected>100</option>
        </select><a class="select-subject">件表示</a>
        
        <table class="mt-5 ml-5 table table-bordered tagbar">
            <thead>
                <tr>
                    <th>入出金項目ID</th>
                    <th>名称</th>
                    <th>種別</th>
                    <th>登録日</th>
                    <th>更新日</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>test</td>
                    <td>出金</td>
                    <td>2019/6/14</td>
                    <td></td>
                    <td class="text-center"><button class="btn btn-outline-success" type="button">名称変更</button>
                        <button class="ml-2 btn btn-outline-danger" type="button" >削除</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td name="test2">test2</td>
                    <td>入金</td>
                    <td>2019/6/14</td>
                    <td></td>
                    <td class="text-center"><button class="btn btn-outline-success" type="button">名称変更</button>
                        <button class="ml-2 btn btn-outline-danger" type="button" >削除</button></td>
                </tr>
            </tbody>
        </table>
            <ul class="page-info text-right">
                <li>1件中1から1まで表示</li>
            </ul>
            
            <div id="page" class="offset-10">
                    <nav class="mt-2" aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link">1</a></li>
                      <li class="page-item"><a class="page-link">2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item">
                        <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        
            <h2 class="label pl-5">操作</h2>
            <button class="mt-5 ml-5 btn btn-outline-secondary" href="../edit/deposit-item-create.html">新規登録</button>
        
</div>