<app-menu></app-menu>
<div id="base">    
        <div id="header"><h1 class="mt-5 ml-5">売上集計(スタッフ)</h1></div>
        <div id="data">
            <table class="mt-5 ml-5 table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>名前</th>
                    <th>労働日数</th>
                    <th>支給総額</th>
                    <th>支給額</th>
                    <th>残り支給額</th>
                    <th>厚生費</th>
                    <th>日払い</th>
                    <th>賞与</th>
                    <th>罰金</th>
                </tr>
            </thead>
                <tr>
                    <td class="tag">1</td>
                    <td class="tag"><a class="item" routerLink="/details/stuff">ボーイ</a></td>
                    <td>0日</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td colspan="2" class="tag end">合計</td>
                    <td class="end">0日</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                    <td class="end">0</td>
                </tr>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>