<div id="base">
		<div id="header"><h1>入出金項目 編集</h1></div>
		
		<div id="data">
			
			<table class="management">
				<thead>
					<tr>
						<th>名称</th>
						<th>種別</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" value="test2" /></td>
						<td>出金</td>
						<td><input class="operate" type="button" value="更新" onclick="location.href='../setting/deposit-payoff.html'"/></td>
					</tr>
				</tbody>
			</table>
			 <div class="label">
                <h2>操作</h2>
                <a class="item" href="../setting/deposit-payoff.html">一覧へ戻る</a>
            </div>
			
		</div>
	</div>