<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">
            
        <table class="mt-5 ml-5 table table-bordered tagbar">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>入出金項目名</th>
                    <th>金額</th>
                    <th>メモ</th>
                    <th>登録</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" value="2019-06-14"/></td>
                    <td><select>
                        <option>ドンペリ</option>
                        </select></td>
                    <td><input type="text" value="48,000"/></td>
                    <td><input type="text" /></td>
                    <td class="text-center"><button class="btn btn-outline-secondary" type="button" routerLink="/tag/money-flow">更新</button></td>
                </tr>
            </tbody>
        </table>
        
        <div class="mt-5">
            <h2 class="label pl-5">操作</h2>
            <button class="mt-5 ml-5 btn btn-outline-secondary" routerLink="/tag/money-flow">一覧へ戻る</button>
        </div>
    </div>
   