<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">
		<div id="header" class="mt-5 ml-5"><h1>ボーイ管理</h1></div>
		
		<div id="data">
		<h3 class="mt-5 ml-5">新スタッフデータ入力</h3>
			
			<table class="mt-5 ml-5 table table-bordered tagbar">
				<thead>
					<tr>
						<th>名前</th>
						<th>時給</th>
						<th>日給</th>
						<th>月給</th>
						<th>厚生費</th>
						<th>登録</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" /></td>
						<td><input class="text-right" type="number" placeholder="0"/></td>
						<td><input class="text-right" type="number" placeholder="0"/></td>
						<td><input class="text-right" type="number" placeholder="0"/></td>
						<td><input class="text-right" type="number" placeholder="0"/></td>
						<td><button type="button" class="btn btn-outline-secondary" routerLink="/tag/stuff-management">登録</button></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	