<div id="base">
		<div id="header"><h1>ボーイ管理</h1></div>
		
		<div id="data">
		<h3>新スタッフデータ入力</h3>
			
			<table class="management">
				<thead>
					<tr>
						<th>名前</th>
						<th>時給</th>
						<th>日給</th>
						<th>月給</th>
						<th>厚生費</th>
						<th>登録</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" /></td>
						<td><input type="text" placeholder="0"/></td>
						<td><input type="text" placeholder="0"/></td>
						<td><input type="text" placeholder="0"/></td>
						<td><input type="text" placeholder="0"/></td>
						<td><input type="button" value="登録" onclick="location.href='../setting/stuff-management.html'"/></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	