<div id="base">
        <div id="header"><h1>月次商品集計</h1></div>
        
        <div id="data">
            <table class="management">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>キャストドリンク</th>
                    <th>ポンパ</th>
                    <th>飛び込み</th>
                    <th>キャストドリンク２</th>
                    <th>アルマン・ド・ブニャック・ロゼ</th>
                    <th>アルマン・ド・ブニャック・ブリュット・ゴールド</th>
                    <th>モエ白ヴーヴイエロー</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="day">1日(土)</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td class="day">2日(日)</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="day">5日(水)</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="total">合計</td>
                    <td>7</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>7</td>
                    <td>2</td>
                </tr>
            </tbody>
            </table>
            <table class="management">
                <thead>
                    <tr>
                        <th>日付</th>
                        <th>キャストドリンク</th>
                        <th>ポンパ</th>
                        <th>飛び込み</th>
                        <th>キャストドリンク２</th>
                        <th>アルマン・ド・ブニャック・ロゼ</th>
                        <th>アルマン・ド・ブニャック・ブリュット・ゴールド</th>
                        <th>モエ白ヴーヴイエロー</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="name">ひなた</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="name">さよ</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="name">えりか</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="name">はるか</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="name">くるみ</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="name">ゆりえ</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>3</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="name" width="100">みほ</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="total">合計</td>
                        <td>7</td>
                        <td>1</td>
                        <td>2</td>
                        <td>1</td>
                        <td>3</td>
                        <td>7</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>