<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">
        <div id="header" class="mt-5 ml-5"><h1>キャスト管理</h1></div>
        <div id="data">
            
        <select class="mt-5 ml-5">
            <option>10</option>
            <option>50</option>
            <option selected>100</option>
        </select><a class="select-subject">件表示</a>
        
        <table class="table table-bordered mt-5 ml-5 tagbar">
        <thead>
            <tr>
                <th>No</th>
                <th>名前</th>
                <th>時給(1部)</th>
                <th>時給(2部)</th>
                <th>厚生費率</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a class="item" routerLink="/details/kyast-management">ひなた</a></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>ゆい</td>
                <td class="pay"><input width="100" type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>さよ</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>あやか</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>5</td>
                <td>まりも</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>さおり</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>体入1</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>8</td>
                <td>めい</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>9</td>
                <td>ありす</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>10</td>
                <td>ゆう</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>11</td>
                <td>派遣1</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>12</td>
                <td>ゆりえ</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>13</td>
                <td>りさ</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>14</td>
                <td>派遣2</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
            <tr>
                <td>15</td>
                <td>あかり</td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
                <td class="pay"><input type="text" placeholder="0"></td>
            </tr>
        </tbody>
        </table>
        <div id="page" class="offset-10">
                <nav class="mt-2" aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">2</a></li>
                  <li class="page-item"><a class="page-link">3</a></li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
    </div>
   