<app-menu></app-menu>
<div id="base">
		<div id="header">
            <h1 class="mt-5 ml-5">月間レジ精算一覧</h1>
		</div>
		
		
		<div id="data">
			
			<table class="mt-5 ml-5 table table-bordered tagbar">
			<thead>
				<tr>
					<th>日付</th>
					<th>本日釣銭</th>
					<th>現金売上</th>
					<th>入金合計</th>
					<th>出金合計</th>
					<th>レジ内現金<br>(理論値)</th>
					<th>レジ内金</th>
					<th>現金過不足</th>
					<th>預金金額</th>
					<th>翌日釣銭準備金</th>
				</tr>
			</thead>
            <tbody>
				<tr *ngFor="let d of 31 | range; index as l">
					<th class="text-center">2019-06-{{l+1}}日</th>
					<td class="text-right" *ngFor="let m of 9 | range">
						0
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		
	</div>