<div id="base">
            
        <div id="header"><h1 class="tag-header">メモ一覧</h1></div>
        
        <table class="management memoarea">
            <thead>
                <tr>
                    <th width="20%">時間</th>
                    <th width="60%">内容</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><select>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                    </select>-
                    <select>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                    </select>-
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                    </select></td>
                    <td><textarea cols="100" rows="20"></textarea></td>
                    <td><input class="operate update" type="button" value="更新" onclick="location.href='../setting/memo-list.html'"/></td>
                </tr>
            </tbody>
        </table>
    </div>
   