<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">    
        <div id="header" class="mt-5 ml-5"><h1 class="tag-header">メモ一覧</h1></div>
        
        <table class="mt-5 ml-5 table table-bordered tagbar mb-5">
            <thead>
                <tr>
                    <th width="20%">時間</th>
                    <th width="60%">内容</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle"><select>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                    </select>-
                    <select>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                    </select>-
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                    </select></td>
                    <td><textarea cols="100" rows="10"></textarea></td>
                    <td class="text-center align-middle"><button class="btn btn-outline-secondary" type="button" routerLink="/tag/memo-summary">更新</button></td>
                </tr>
            </tbody>
        </table>
    </div>
   