<app-menu></app-menu>
<app-tagbar></app-tagbar>
<div id="base" class="pt-5">
		<div id="header" class="mt-5 ml-5"><h1>入出金項目 登録</h1></div>
		
		<div id="data">
			
			<table class="mt-5 ml-5 table table-bordered tagbar">
				<thead>
					<tr>
						<th>名称</th>
						<th>種別</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" /></td>
						<td><select>
							<option>出金</option>
							<option>入金</option>
							</select></td>
						<td class="text-center"><button type="button" class="btn btn-outline-secondary" routerLink="/tag/deposit-summary" >登録</button></td>
					</tr>
				</tbody>
			</table>
			 <div class="mt-5">
                <h2 class="label pl-5">操作</h2>
                <button class="mt-5 ml-5 mb-5 btn btn-outline-secondary" routerLink="/tag/deposit-summary">一覧へ戻る</button>
            </div>
			
		</div>
	</div>
	