<app-menu></app-menu>
<div id="base" class="w-100">
        <div id="header" class="mt-5 ml-5"><h1 class="ml-3 mt-5 text-monospace">まとめ</h1></div>
		<div class="ml-5 mr-5 d-md-inline-block align-baseline">
		<table class="mt-5 table table-hover">
		<thead>
			<tr>
				<th class="text-center" colspan="2">売り上げ累計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center" colspan="2">¥500,000</td>
			</tr>
			<tr>
				<th class="">現金</th>
				<td class="text-right">¥350,000</td>
			</tr>
			<tr>
				<th class="">売掛</th>
				<td class="text-right">¥0</td>
			</tr>
			<tr>
				<th class="tag">カード</th>
				<td class="text-right">¥150,000</td>
			</tr>
		</tbody>
		</table>
		
		
		<table class="mt-5 table table-hover">
		<thead>
			<tr>
				<th class="text-center">入金累計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">¥0</td>
			</tr>
		</tbody>
		</table>
		
		<table class="mt-5 table table-hover">
		<thead>
			<tr>
				<th class="text-center" colspan="2">経費累計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-right" colspan="2">¥200,000</td>
			</tr>
			<tr>
				<td class="">人件費.女子日払い</td>
				<td class="text-right">¥150,000</td>
			</tr>
			<tr>
				<td class="">人件費.男子日払い</td>
				<td class="text-right">¥0</td>
			</tr>
			<tr>
				<td class="">諸経費</td>
				<td class="text-right">¥0</td>
			</tr>
		</tbody>
		</table>
		
		<table class="mt-5 table table-hover">
		<thead>
			<tr>
				<th class="text-center" colspan="2">店舗状況</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>来店人数</th>
				<td class="text-right">78人</td>
			</tr>
			<tr>
				<th>来店組数</th>
				<td class="text-right">58組</td>
			</tr>
			<tr>
				<th>客単価</th>
				<td class="text-right">¥6,410</td>
			</tr>
			<tr>
				<th>組単価</th>
				<td class="text-right">¥8,620</td>
			</tr>
			<tr>
				<th>女子本計</th>
				<td class="text-right">¥201,000</td>
			</tr>
			<tr>
				<th>タグ対象額</th>
				<td class="text-right">¥0</td>
			</tr>
		</tbody>
		</table>
		</div>
        
        
		<div id="canvas" class="ml-5 mt-5 d-md-inline-block align-top">
            <canvas id="chart" width="450" height="300"></canvas>
            
            <ul class="mt-5" style="list-style:none;">
                <li class="mt-5 ml-3">※粗利は（売上)+(入金)-(人件費)-(経費）で計算しています。</li>
                <li class="mt-5 ml-3">※締めに関係なく純粋な当日のデータを表示しています。</li>
                <li class="mt-5 ml-3">※値引き後の金額を表示しています。</li>
            </ul>
        </div>
        
        <div id="notice" class="mt-5 pl-5">
            <h2 class="algin-bottom">お知らせ</h2>
        </div>
	</div>
	
	