<div id="header" class="nav d-inline-block sticky-top">
    <div class="nav-logo nav-tabs d-sm-inline-block">
        <h1 class="log text-left nav-item">Mock</h1>
    </div>
    <ul class="nav nav-tabs d-sm-inline-block text-center">
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/summary">まとめ</a>
        </li>
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/barance-statement">収支明細</a>
        </li>
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/kyast">キャスト</a>
        </li>
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/stuff">スタッフ</a>
        </li>
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/tags">タグ</a>
        </li>
         <li class="nav-item d-sm-inline-block">
            <a class="nav-link" routerLink="/menu/cash-register">現金管理</a>
        </li>
        <li class="nav-item d-sm-inline-block ">
            <a class="nav-link" routerLink="/menu/daily-report">日報報告</a>
        </li>
        <li class="nav-item d-sm-inline-block text-right">
            <a class="nav-link" routerLink="/">ログアウト</a>
        </li>
    </ul>
</div>