<app-menu></app-menu>
<div id="base">
        <div id="header"><h1 class="mt-5 ml-5">売上集計（キャスト）</h1></div>
        
        <div id="data" >
            <table class="mt-5 ml-5 table table-bordered">
            <thead>
                <tr>
                    <th class="first">No</th>
                    <th width="200" class="first">名前</th>
                    <th class="first">ポイント</th>
                    <th width="150" class="first">残り支給額</th>
                    <th width="150" class="first">本指本計</th>
                    <th width="150" class="first">同伴本計</th>
                    <th class="first">給率</th>
                    <th class="first">勤務日数</th>
                    <th width="100" class="first">時間報酬</th>
                    <th width="100" class="first">本指バック</th>
                    <th width="100" class="first">同伴バック</th>
                    <th width="100" class="first">場内バック</th>
                    <th width="100" class="first">ドリンクバック</th>
                    <th width="100" class="first">ボトルバック</th>
                    <th width="100" class="first">フードバック</th>
                    <th width="100" class="first">ボーナス</th>
                    <th width="100" class="first">厚生費</th>
                    <th width="100" class="first">日払い</th>
                    <th class="first">マイナス</th>
                </tr>
                <tr>
                    <th class="second">合計</th>
                    <th class="second"></th>
                    <th class="second">-</th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                    <th class="second"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a class="item" routerLink="/details/kyast">なお</a></td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>ゆき</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>ゆい</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>じゅり</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>ひまわり</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>ちほ</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>    
    </div>
