#base{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:700px;
    /* background: linear-gradient(225deg, white 20%, white 100px,#7e7e7e 40%, #7e7e7e 100px,#222222 80%, #222222 100px  );
    
    background-size:100%; */
}

div#login-form{
	background:rgba(255,255,255,0.2);
	position:relative;
	top:20px;
	padding:25px;
	border-radius:5px;
}

div.form-group label{
	color:white;
	font-style:italic;
	text-shadow:0 0 3px gray, 0 0 8px gray;
}