<div id="base">
		<div id="login-form" class="">
			<div class="form-group row">
					<h3 class="col text-center font-italic">Mock</h3>
			</div>
			<div class="form-group ">
					<label for="formGroupExampleInput" class="offset-1">User Id</label>
				   <input type="text" class="form-control col-11 mx-auto" id="formGroupExampleInput" name="id"  placeholder="UserId input hear">
				</div>
			   <div class="form-group">
				   <label for="formGroupExampleInput2" class="offset-sm-1">Password</label>
				   <input type="password" class="form-control col-11 mx-auto" id="formGroupExampleInput2" name="password"  placeholder="Password input hear">
			   </div>
			<div class="form-group">
			  <div class="col-12">
				<input class="text-left" type="checkbox"><a class="ml-1">自動ログイン</a>
				<button type="button" class="btn add btn-outline-primary ml-2" routerLink="/menu/summary">Sign in</button>
			  </div>
		</div>
</div>