<app-menu></app-menu>
<div id="base" class="pt-5">
		
		<div class="d-inline-block align-top mt-5 ml-5">
		<div id="header mt-5">
			<ul class="header">
						<li><h2 class="name ">報酬支払明細書</h2></li>
						<li><a>令和元年06月分</a></li>
						<li><a>2019/06/01～2019/06/30</a></li>
						<li><a>店名</a></li>
						<li><a>なお</a></li>
			</ul>
		</div>
		
			<table class="mt-5 table table-bordered">
				<tr>
					<th colspan="2">労働日数</th>
					<td>2日</td>
				</tr>
				<tr>
					<th colspan="2">労働時間(1部)</th>
					<td>9時間00分</td>
				</tr>
				<tr>
					<th colspan="2">労働時間(2部)</th>
					<td>0時間00分</td>
				</tr>
				<tr>
					<th colspan="2">平均時給(1部)</th>
					<td>\0</td>
				</tr>
				<tr>
					<th colspan="2">平均時給(2部)</th>
					<td>\0</td>
				</tr>
				<tr>
					<th rowspan="16">支給対象</th>
					<th>基本給(時給)</th>
					<td>-</td>
				</tr>
				<tr>
					<th>本指本計バック</th>
					<td>-</td>
				</tr>
				<tr>
					<th>同伴本計バック</th>
					<td>-</td>
				</tr>
				<tr>
					<th>本指給</th>
					<td>\500</td>
				</tr>
				<tr>
					<th>場内給</th>
					<td>\500</td>
				</tr>
				<tr>
					<th>同伴給</th>
					<td>\6000</td>
				</tr>
				<tr>
					<th>ドリンクバック</th>
					<td>\300</td>
				</tr>
				<tr>
					<th>ボトルバック</th>
					<td>\3,200</td>
				</tr>
				<tr>
					<th>フードバック</th>
					<td>-</td>
				</tr>
				<tr>
					<th>シルバーボーナス</th>
					<td>-</td>
				</tr>
				<tr>
					<th>ゴールドボーナス</th>
					<td>-</td>
				</tr>
				<tr>
					<th>ドリンクボーナス100</th>
					<td>-</td>
				</tr>
				<tr>
					<th>ドリンクボーナス200</th>
					<td>-</td>
				</tr>
				<tr>
					<th>その他</th>
					<td>-</td>
				</tr>
				<tr>
					<th>新規カード</th>
					<td>-</td>
				</tr>
				<tr>
					<th>合計</th>
					<td>\10,000</td>
				</tr>
				<tr>
					<th rowspan="7">控除対象</th>
					<th>厚生費</th>
					<td>-</td>
				</tr>
				<tr>
					<th>遅刻</th>
					<td>-</td>
				</tr>
				<tr>
					<th>当欠</th>
					<td>-</td>
				</tr>
				<tr>
					<th>無欠</th>
					<td>-</td>
				</tr>
				<tr>
					<th>交通費調整</th>
					<td>-</td>
				</tr>
				<tr>
					<th>その他調整</th>
					<td>-</td>
				</tr>
				<tr>
					<th>合計</th>
					<td>-</td>
				</tr>
				<tr>
					<th colspan="2">支給総額</th>
					<td>\10,000</td>
				</tr>
				<tr>
					<th colspan="2">日払い額</th>
					<td>\0</td>
				</tr>
				<tr>
					<th colspan="2">差引支給額</th>
					<td>\10,000</td>
				</tr>
			</table>
		</div>
		<div id="right" class="d-inline-block ml-5 mt-5 align-middle" >
			<table class="mt-5 table table-bordered right">
			<thead>
				<tr>
					<th rowspan="3">日付</th>
					<th rowspan="3">残り支給額</th>
					<th rowspan="3">本指本計<br>(0%)</th>
					<th rowspan="3">同伴本計<br>(0%)</th>
					<th rowspan="3">給率<br>(0%)</th>
					<th rowspan="3">勤務日数</th>
					<th colspan="7">タイムカード</th>
					<th colspan="6">ポイント</th>
					<th colspan="3">本指バック</th>
					<th colspan="3">場内バック</th>
					<th colspan="3">同伴バック</th>
					<th colspan="4">ドリンクバック</th>
					<th colspan="4">ボトルバック</th>
					<th colspan="4">フードバック</th>
					<th rowspan="3">バック計</th>
					<th colspan="7">プラス</th>
					<th rowspan="3">厚生費</th>
					<th colspan="2">日払い</th>
					<th colspan="6">マイナス</th>
				</tr>
				<tr>
					<th colspan="6">１部</th>
					<th rowspan="2">小計</th>
					<th rowspan="2">本指</th>
					<th rowspan="2">場内</th>
					<th rowspan="2">同伴</th>
					<th rowspan="2">ドリンク</th>
					<th rowspan="2">計</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">回数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">回数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">回数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">売上</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">本数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">売上</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">本数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">売上</th>
					<th rowspan="2">組数</th>
					<th rowspan="2">本数</th>
					<th rowspan="2">金額</th>
					<th rowspan="2">シルバーボーナス</th>
					<th rowspan="2">ゴールドボーナス</th>
					<th rowspan="2">ドリンク１００ボーナス</th>
					<th rowspan="2">ドリンク２００ボーナス</th>
					<th rowspan="2">その他</th>
					<th rowspan="2">新規カード</th>
					<th rowspan="2">計</th>
					<th rowspan="2">日払い</th>
					<th rowspan="2">計</th>
					<th rowspan="2">遅刻</th>
					<th rowspan="2">当欠</th>
					<th rowspan="2">無欠</th>
					<th rowspan="2">交通費調整</th>
					<th rowspan="2">その他調整</th>
					<th rowspan="2">計</th>
				</tr>
				<tr>
					<th>出勤</th>
					<th>退勤</th>
					<th>調整</th>
					<th>時間</th>
					<th>時給</th>
					<th>時間報酬</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let p of 31 | range; index as l">
						<th class="first">{{l+1}}日</th>
					<td *ngFor="let d of 55 | range; index as i">
						0
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
	