h2.name{
    border-bottom:solid 1px black;
}
ul{
    list-style:none;
    text-align:center;
}
div#right{
    width:60%;
    overflow-x:scroll;
}

table.right{
    width:3000px;
}

table th.first{
    font-size:12px;
    text-align:center;
}
table.right td{
    text-align:right;
}