<div id="base">
            
        <div id="header"><h1>削除履歴</h1></div>
        
        <table>
                <tr>
                    <th>伝票ID</th>
                    <td>A3D59723-C2CF-438B-911E-A0FBC43C0FE7-2870</td>
                </tr>
                 <tr>
                    <th>入店日時</th>
                    <td>2019年06月14日 16時45分</td>
                </tr>
                 <tr>
                    <th>テーブル名</th>
                    <td>C5</td>
                </tr>
                 <tr>
                    <th>客数</th>
                    <td>4</td>
                </tr>
        </table>
       
        
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>商品</th>
                    <th>詳細</th>
                    <th>単価</th>
                    <th>税</th>
                       <th>数量</th>
                       <th>計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>同伴</th>
                    <td>16:25～</td>
                    <td>まき</td>
                    <td>\3,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\3,000</td>
                </tr>
                 <tr>
                    <th rowspan="3">本指名</th>
                    <td>16:25～60分(フル)</td>
                    <td>あいみ</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                <tr>
                    <td>16:25～60分(フル)</td>
                    <td>体入1</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                <tr>
                    <td>16:25～60分(フル)</td>
                    <td>派遣1</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                 <tr>
                    <th rowspan="3">場内指名</th>
                    <td>16:25～60分(フル)</td>
                    <td>ありさ</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                <tr>
                    <td>16:25～60分(フル)</td>
                    <td>めむたそ</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                <tr>
                    <td>16:25～60分(フル)</td>
                    <td>まき</td>
                    <td>\1,000</td>
                    <td></td>
                    <td>1</td>
                    <td>\1,000</td>
                </tr>
                <tr>
                     <th>セット</th>
                    <td>16:25～60分(フル)</td>
                    <td></td>
                    <td>\2,900</td>
                    <td></td>
                    <td>4</td>
                    <td>\11,600</td>
                </tr>
                <tr>
                    <td colspan="6">税サ等</td>
                    <td>\2,600</td>
                </tr>
                <tr>
                    <td colspan="6">合計金額</td>
                    <td>\23,200</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    