<app-menu></app-menu>
<div id="base" class="pt-5">
		
		<div class="d-inline-block align-top mt-5 ml-5">
		<div id="header">
			<ul class="header mt-5">
						<li><h2 style="border-bottom:solid 1px black;">給料支払明細書</h2></li>
						<li><a>令和元年06月分</a></li>
						<li><a>店名</a></li>
						<li><h3>ボーイ</h3></li>
			</ul>
		</div>
		
			<table class="mt-5 table table-bordered">
				<tr>
					<th colspan="2">労働日数</th>
					<td>2日</td>
				</tr>
				<tr>
					<th colspan="2">労働時間</th>
					<td>0時間00分</td>
				</tr>
				<tr>
					<th rowspan="9">支給額</th>
					<th>基本給(時給)</th>
					<td>0時間00分</td>
				</tr>
				<tr>
					<th>基本給(日給)</th>
					<td>\0</td>
				</tr>
				<tr>
					<th>基本給(月給)</th>
					<td>\0</td>
				</tr>
				<tr>
					<th>シルバーボーナス</th>
					<td>\0</td>
				</tr>
				<tr>
					<th>ゴールドボーナス</th>
					<td>\0</td>
				</tr>
				<tr>
					<th>ドリンクボーナス100</th>
					<td>-</td>
				</tr>
				<tr>
					<th>ドリンクボーナス200</th>
					<td>-</td>
				</tr>
				<tr>
					<th>その他</th>
					<td>-</td>
				</tr>
				<tr>
					<th>新規カード</th>
					<td>-</td>
				</tr>
				<tr>
					<th colspan="2">合計</th>
					<td>\0</td>
				</tr>
				<tr>
					<th rowspan="7">控除対象</th>
					<th>厚生費</th>
					<td>-</td>
				</tr>
				<tr>
					<th>日払い</th>
					<td>-</td>
				</tr>
				<tr>
					<th>遅刻</th>
					<td>-</td>
				</tr>
				<tr>
					<th>当欠</th>
					<td>-</td>
				</tr>
				<tr>
					<th>無欠</th>
					<td>-</td>
				</tr>
				<tr>
					<th>交通費調整</th>
					<td>-</td>
				</tr>
				<tr>
					<th>その他調整</th>
					<td>-</td>
				</tr>
				<tr>
					<th colspan="2">合計</th>
					<td>\0</td>
				</tr>
				<tr>
					<th colspan="2">支給総額</th>
					<td>\0</td>
				</tr>
				<tr>
					<th colspan="2">差引支給額</th>
					<td>\0</td>
				</tr>
			</table>
		</div>
			<div id="right" class="d-inline-block mt-5 ml-5 align-middle">
			<table class="mt-5 table table-bordered right">
			<thead>
				<tr>
					<th rowspan="2" colspan="2">日付</th>
					<th colspan="4">勤怠時間</th>
					<th colspan="3">支給額</th>
					<th>日払い</th>
					<th colspan="6">賞与</th>
					<th colspan="5">罰金</th>
				</tr>
				<tr>
					<th>開始</th>
					<th>終了</th>
					<th>時間外</th>
					<th>労働時間</th>
					<th>時給</th>
					<th>日給</th>
					<th>月給</th>
					<th>日払い</th>
					<th>シルバーボーナス</th>
					<th>ゴールドボーナス</th>
					<th>ドリンク１００ボーナス</th>
					<th>ドリンク２００ボーナス</th>
					<th>その他</th>
					<th>新規カード</th>
					<th>遅刻</th>
					<th>当欠</th>
					<th>無欠</th>
					<th>交通費調整</th>
					<th>その他調整</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let p of 31 | range; index as l">
					<th class="first">{{l+1}}日</th>
					<td *ngFor="let d of 20 | range; index as i">0</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>